<%- include('header')%>
<h2>Certificações</h2>

<h3>SCRUM Fundamentals Certified (SFC)</h3>
<h5>outubro 2019</h5>
<br>
<h3>Microsoft Certified Professional – Querying Microsoft SQL Server 2012/2014</h3>
<h5>março 2017</h5>
<br>
<h3>Information Security Foundation based on ISO/IEC 27002</h3>
<h5>dezembro 2016</h5>
<br>
<h3>Microsoft Technology Associate: Database Fundamentals</h3>
<h5>outubro 2016</h5>
<br>
<h3>ITIL Foundation Certificate in IT Service Management</h3>
<h5>setembro 2016</h5>
<br>

<%- include('footer') %>