<div id = "Contact">
    <div class="text-right">
        <img src="images/mail32.png" class="rounded" alt="email"> faraibvuma@yahoo.co.uk
        <br>
        <img src="images/local26.png" class="rounded" alt="location"> São Paulo
        <br>
        <a  href="https://www.linkedin.com/in/farai-bvuma-b4586857/" target="_blank">
        <img id = "logo" src = "images/LI-In-Bug.png"  alt = "linkedin link"> </a>
        <a href="https://github.com/FaraiB" target="_blank">
        <img id = "logo" src = "images/GitHub-Mark-120px-plus.png" alt = "git link" ></a>
</div> 
            
</div>
        
