<%- include('header')%>
<h2>Cursos Complementares</h2>
<h3>Fullstack Master</h3>
<h4>DevPleno</h4>
<h5>novembro 2019 até o momento</h5>
<br>
<h3>Installation, Storage, and Compute with Windows Server 2016</h3>
<h4>BfBiz</h4>
<h5>março 2018</h5>
<br>
<h3>Implementando um Data Warehouse com Microsoft SQL Server</h3>
<h4>Ka Solution</h4>
<h5>dezembro 2017</h5>
<br>
<h3>Administrando Microsoft SQL Server 2012/2014 Databases</h3>
<h4>Ka Solution</h4>
<h5>maio 2017</h5>
<br>
<h3>Querying Microsoft SQL Server 2012/2014</h3>
<h4>Ka Solution</h4>
<h5>março 2017</h5>
<br>
<h3>Montagem e Configuração de Computadores</h3>
<h4>Capacita TI Treinamentos</h4>
<h5>agosto 2012</h5>
<%- include('footer') %>