<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
     
        <link href="/images/all.css" rel="stylesheet">
    <title>Farai Bvuma's Resume</title>
  </head>
  <body >
        <h1><a href="/"><img id = "pic" src="/images/work.jpg" class="rounded-circle mx-auto d-block h-25 w-25" alt = "ProfilePicture"></a></h1>
        <h3 class="font-weight-bold text-center">Farai Frantz Bvuma</h3>
            

     