<%- include('header')%>

<div>
    <p id ="p1">Farai Bvuma</p>
    <p id ="p2">Analista de suporte</p>
    <p id ="p3">Experiencia como analista de suporte bilingue em empresas multinacionais.
    <br> Graduado em sistemas de informação na Universidade de Londres.
    <br> Procurando recolocação como desenvolvedor Full Stack</p>
   <br>

</div>
<div>
    <h2><a href="education">Educação</a></h2>
    <h2><a href="work">Experiencia Professional</a><h2>
    <h2><a href="courses">Cursos Complementares</a><h2>
    <h2><a href="certs">Certificações</a><h2>
    <h2><a href="skills">Habilidades</a><h2>
    <h2><a href="lang">Línguas</a><h2>
</div>       
<%- include('footer') %>