<%- include('header')%>

<div>
    
    <p class="text-center font-weight-bold ">Analista de suporte</p>
    <p class="font-italic text-center" >Experiencia como analista de suporte bilíngue em empresas multinacionais.
    <br> Graduado em sistemas de informação na Universidade de Londres.
    <br> Procurando recolocação como desenvolvedor Full Stack</p>
   <br>

</div>
<div>
    <h2><a href="education" class="text-decoration-none">Educação</a></h2>
    <h2><a href="work" class="text-decoration-none">Experiencia Professional</a><h2>
    <h2><a href="courses" class="text-decoration-none">Cursos Complementares</a><h2>
    <h2><a href="certs" class="text-decoration-none">Certificações</a><h2>
    <h2><a href="skills" class="text-decoration-none">Habilidades</a><h2>
    <h2><a href="lang" class="text-decoration-none">Línguas</a><h2>
    
</div>
<%- include('contact')%>        
<%- include('footer') %>