<%- include('header')%>
    <h2>Habilidades</h2>
    <ul>
        <li>SQL</li>
        <li>JavaScript</li>
        <li>Java</li>
        <li>ITIL</li>
        <li>SCRUM</li>
    </ul>
<%- include('footer') %>