<%- include('header')%>


<h2>Experiencia Professional</h2>
            <h3>Analista de Suporte a Aplicação Junior</h3>
            <h4>Fujitsu do Brasil</h4>
            <h5>fevereiro 2019 até o momento</h5>
                <ul>
                    <li>Responsavel pelo acompanhamento do funcionamento dos sistemas durante a operação dos usuários,
                        durante a execução dos processos batch e backup de dados.</li>
                    <li>Responsavel pelo acompanhamento dos e-mails de monitoramento enviados pelo sistema</li>
                    <li>Responsavel pelo atendimento de chamados de 2° nivel e abertura de chamados para o 3° nivel.</li>
                    <li>Responsavel pelo deploy de novos pacotes/atualizações de aplicações.</li>
                </ul>
            <h3>Analista de Banco de Dados Júnior</h3>
            <h4>OAS S.A.</h4>
            <h5>janeiro 2018 - janeiro 2019</h5>
                <ul>
                    <li>Responsavel pelo gerenciamento de acesso aos sistemas ERP Protheus e RM Solum.</li>
                    <li>Responsavel pelo administração dos storages, bancos de
                        dados, servidores, plataformas de virtualização, aplicações e sistemas corporativos
                        e serviços de monitoramento e backup.</li>
                    <li>Responsavel pelo registro, validação e aplicação de Requisições de Mudança (RDM) nos
                        ambientes de Homologação e Produção.</li>
                    <li>Responsavel pelo atendimento dos chamados relacionados aos bancos de dados</li>
                </ul>    
            <h3>Analista de Suporte Nivel 1</h3>
            <h4>OAS S.A.</h4>
            <h5>março 2016 – dezembro 2017</h5>
                <ul>
                    <li>Realizar atendimento VIP.
                    <li>Realizar atendimento local e manutenção de computadores.</li>
                    <li>Analisar, testar e encaminhar as correções enviadas pelos fornecedores.</li>
                    <li>Prestar suporte aos sistemas corporativos, como: ERP, e-mail, intranet e legados.</li>
                    <li>Instalação e configuração de softwares através de acesso remoto.</li>
                    <li>Troubleshooting problemas de hardware (desktops, notebooks, impressoras e periféricos).</li>
                    <li>Troubleshooting problemas de Windows, pacote de Office e outros softwares.</li>
                    <li>Suporte remoto aos usuários para problemas de sistemas utilizados na empresa.</li>
                    <li>Suporte e na operação e funcionamento de equipamentos (hardware) e sistemas operacionais Windows e Mac OS.</li>
                    <li>Gerenciamento da ferramenta de antivírus (McAfee EPO).</li>
                    <li>Verificar relação de demitidos/transferidos/afastados recebidos do departamento pessoal e solicitar os devidos bloqueios de acesso aos sistemas corporativos.</li>
                    <li>Verificar e solicitar os devidos bloqueios de acesso aos sistemas corporativos inativos há mais de 60 dias.</li>
                    <li>Gerenciamento de contas de rede (criação, alteração e exclusão de usuários) com Active Directory.</li>
                    <li>Atualizar a documentação (procedimentos, manuais e normas) para manutenção da Base de Conhecimento.</li>
                    <li>Notificar a área de TI quando houver um Incidente Maior (ITIL).</li>
                </ul>
            <h3>Analista de Suporte de TI</h3>
            <h4>OAS Trinidad e Tobago</h4>
            <h5>fevereiro 2016 - março 2016</h5>
                <ul>
                    <li>Realizar atendimento local em inglês.</li>
                    <li>Realizar atendimento VIP em inglês.</li>
                    <li>Interação com os fornecedores, de acordo com os procedimentos da TI.</li>
                    <li>Tradução de português e inglês entre a equipe local e a equipe de brasileiro.</li>
                    <li>Manter o estoque dos equipamentos de microinformática da empresa.</li>
                    <li>Formatação e configuração de desktops e notebooks com Windows 7, Windows 8.1, Windows 10 e Mac OS.</li>
                    <li>Realizar a manutenção de computadores.</li>
                    <li>Troubleshooting de problemas de hardware e software.</li>
                </ul>
            <h3>Analista de Service Desk</h3>
            <h4>Construtora OAS S.A.</h4>
            <h5>fevereiro 2014 - janeiro 2016</h5>
                <ul>
                    <li>Atendimento bilíngue via telefone e e-mail.</li>
                    <li>Registrar e realizar monitoramento, classificação e atribuição de chamados, através da ferramenta de Service Desk interna.</li>
                    <li>Interação com os fornecedores, de acordo com os procedimentos da TI.</li>
                    <li>Realizar atendimento local e manutenção de computadores.</li>
                    <li>Instalação e configuração de softwares através de acesso remoto.</li>
                    <li>Formatação e configuração de desktops e notebooks com Windows 7, Windows 8.1, Windows 10 e Mac OS.</li>
                    <li>Manter o estoque dos equipamentos de microinformática da empresa.</li>
                    <li>Prestar suporte aos sistemas corporativos, como: ERP, e-mail, intranet e legados.</li>
                    <li>Analisar, testar e encaminhar as correções enviadas pelos fornecedores.</li>
                    <li>Registrar requisições de mudança (RDM) para correção de erros.</li>
                    <li>Organizar o laboratório da TI.</li>
                    <li>Acompanhar suporte técnico terceirizado.</li>
                    <li>Ministrar, elaborar materiais e participar de treinamentos internos da equipe.</li>
                    <li>Atualizar a documentação (procedimentos, manuais e normas) para manutenção da Base de Conhecimento.</li>
                    <li>Notificar a área de TI quando houver um Incidente Maior (ITIL).</li>
                </ul>        
<%- include('footer') %>