<%- include('header')%>
<h2>Experiencia Professional</h2>
            <h3>Analista de Suporte a Aplicação Junior</h3>
            <h4>Fujitsu do Brasil</h4>
            <h5>fevereiro 2019 até o momento</h5>
                <ul>
                    <li>Responsavel pelo acompanhamento do funcionamento dos sistemas durante a operação dos usuários,
                        durante a execução dos processos batch e backup de dados.</li>
                    <li>Responsavel pelo acompanhamento dos e-mails de monitoramento enviados pelo sistema</li>
                    <li>Responsavel pelo atendimento de chamados de 2° nivel e abertura de chamados para o 3° nivel.</li>
                    <li>Responsavel pelo deploy de novos pacotes/atualizações de aplicações.</li>
                </ul>
            <h3>Analista de Banco de Dados Júnior</h3>
            <h4>OAS S.A.</h4>
            <h5>janeiro 2018 - janeiro 2019</h5>
                <ul>
                    <li>Responsavel pelo gerenciamento de acesso aos sistemas ERP Protheus e RM Solum.</li>
                    <li>Responsavel pelo administração dos storages, bancos de
                        dados, servidores, plataformas de virtualização, aplicações e sistemas corporativos
                        e serviços de monitoramento e backup.</li>
                    <li>Responsavel pelo registro, validação e aplicação de Requisições de Mudança (RDM) nos
                        ambientes de Homologação e Produção.</li>
                    <li>Responsavel pelo atendimento dos chamados relacionados aos bancos de dados</li>
                </ul>
<%- include('footer') %>